.add-post-btn {
  border: 2px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  background: #fff;
  bottom: 5%;
  right: 5%;
  z-index: 200;
  cursor: pointer;
}

.post {
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.post-user {
  background-color: #fff;
}

.post-author-username {
  margin: 0 0 0 0.8em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.post-author-username:hover {
  color: #000;
  text-decoration: underline;
}

.post-likes,
.post-caption-author,
.comment-autor {
  font-weight: 600;
}

.image-skeleton {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  min-height: 450px;
}

.image-skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
          animation: shimmer 2s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.post-image {
  margin-left: -100%;
  z-index: 99;
  min-height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post-caption-author {
  text-decoration: none;
}

.post-caption-author,
.post-caption-author:hover {
  color: #000;
}

.post-comments .view-all-comments {
  cursor: pointer;
  color: #8e8e8e;
}

.post-comment-latest a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.post-comment-latest a:hover {
  text-decoration: underline;
  color: #000;
}

.add-comment-field {
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  height: 30px;
  width: 90%;
  line-height: 25px;
}

.comment-autor a {
  text-decoration: none;
  color: #000;
}

.comment-autor a:hover {
  text-decoration: underline;
  color: #000;
}

.comment-body {
  color: #000;
  word-break: break-word;
}

.time-posted {
  color: #8e8e8e;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.dropzone {
  background: #fff;
}

.dropzone-preview img {
  -o-object-fit: contain;
     object-fit: contain;
}

.dropzone-t {
  min-height: 400px;
  border: 2px dashed #ccc;
  cursor: pointer;
}

.dropzone-t.dragover {
  border: 2px solid #000;
}

.caption-area {
  height: 130px !important;
  resize: none;
}

.reset-image-btn {
  position: absolute;
  top: -2.4%;
  right: -1.5%;
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.reset-image-btn i {
  color: #f44336;
}

